.profile-image {
	width: 200px;
	height: 200px;
	border-radius:50%;
	border: solid 10px #8BC34A;
	box-shadow: 0px 4px 0px 0px #666666
}

 body {
	 padding: 80px 0;
 }

header{
	position: relative;
}

.header-backaground {
    background: #8BC34A;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
 }

.content-card {
	margin: 70px 10px
}

 .basic-info {
	position: relative;
	margin:0px auto;
	padding-top: 100px;
	text-align: center;
	display: block;	
	
 }

 .basic-info h3{
	width: 100%;
	word-wrap: break-word;
}

 .basic-info h2 {
	 padding: 15px 0px;
	 font-size: 36px;
	 font-weight: 400;
 }

 .basic-info p {
	 font-size: 18px;
	 color: #333;
 }

 i.card-icon {
	 color: #8BC34A;
 }

 .content-card p {
	 padding: 0px 10px
 }

 .url {
	 padding: 0px 20px;
 }
